.popup__submit {
  cursor: pointer;
  display: block;
  outline: none;
  margin: 48px auto 0;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  border: none;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    width: 258px;
    height: 46px;
}
}
